.footer {
    padding: $padding-large;

    & .wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: $margin-extra-large;
        }
    }

    &__info {
        text-align: center;

        & h5 {
            margin-bottom: $margin-small;
        }
    }

    &__social {
        width: 100%;
        padding: $padding-small;
        position: relative;
        overflow: hidden;

        &::after,
        &::before {
            background-color: $color-grey;
            left: 0%;
            height: .1rem;
            width: 100%;
        }

        &::after {
            top: 0%;
        }

        &::before {
            bottom: 0%;
        }

        & ul {
            display: flex;
            transition: $transition;

            &:hover a:not(:hover) {
                opacity: .5;
            }
        }

        & li {
            margin: 0 auto;
        }

        &__link {
            color: $color-orange;
            text-transform: uppercase;
            font-size: 3.6rem;
            font-weight: 400;
            transition: $transition;
            margin: 0rem auto;
        }

    }

    &__address {
        text-align: center;
    }

}