.featured-work {
    & .row {
        width: 100%;

        display: flex;
        justify-content: center;
        align-content: center;

        &:not(:last-child) {
            margin-bottom: $margin-large;
        }

    }

    & .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        width: 100%;
        transition: $transition;
        margin: $margin-extra-large 0rem;

        &__item {
            position: relative;
            overflow: hidden;

            &__link {
                display: block;
                position: relative;

                &::after {
                    top: 0%;
                    left: 0%;
                    height: 100%;
                    width: 100%;
                    background-color: $color-dark;
                    transition: $transition;
                    opacity: 0;
                }

                &:hover::after {
                    opacity: 0.45;
                }

                & img {
                    transition: $transition;
                }
            }//link

            &--heading {
                position: absolute;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
            }// heading

            &__btn {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: $transition;
            }

            &:hover .grid__item__btn {
                top: 50%;
                opacity: 1;
            }

            &:hover img {
                transform: scale(1.03);
            }
        }//item
    }
}

.inside-netinn {
    
    & .row {
        @include center;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $margin-large;
        }
    }

    & .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 54rem);
        gap: 3rem;
        overflow: hidden;
        margin: $margin-large 0rem;

        &__item {
            & img {
                object-fit: cover;
                min-width: 100%;
                height: 100%;
            }
        }

        &__item--1 {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            background-color: red;
        }

        &__item--2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        &__item--3 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }
}

.stuff-to-note {
    .row {
        width: 100%;
        background-color: pink;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:not(:last-child) {
            margin-bottom: $margin-large;
        }
    }

    & .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7.5rem;

        &__item {

            &--top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
}