@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap');

html {
    font-size: 62.5%;
}

body {
    //font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1em;}
h5 {font-size: .8em;}
h6 {font-size: .7em;}

h1, h2, h3, h4, h5, h6 {
    color: $color-dark;
    text-transform: uppercase;
    line-height: 2;
}

.heading--white {
    color: $color-white;
}

.header {

    &__logo {
        font-size: 3.6rem;
        font-weight: 700;
    }
}

.banner {

    &__heading--small--white {
        color: $color-white;
        font-size: 2.8rem;
        text-transform: uppercase;
    }

    &__heading--big--white {
        color: $color-white;
        font-size: 7.2rem;
        line-height: 1;
        position: relative;
        z-index: 2;
        margin-top: -.7rem;
    }

}

.what-we-do {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.5;
}

.text__box {
    overflow: hidden;
    &--white {
        color: $color-white;
    }

    &:hover > .line__link {
        opacity: 1;
    }

    &:hover > .line__link:not(:hover) {
        opacity: 0.5;
    }
}

.grid__item__btn {
    font-size: 3rem;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;
}

.phone {
    font-size: 2.2rem;
    letter-spacing: .1rem;
}

.mail {
    display: inline-block;
    color: $color-orange;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 5;
}

.address {
    line-height: 1.5;
}

.line__link {
    display: block;
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.5rem 0rem;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    margin: 2rem 0rem;
    transition: $transition;
    
    &::after,
    &::before {
        left: 0%;
        height: 1px;
        width: 100%;
        background-color: rgba($color-white, .7);
    } 

    &::after {
        top: 0%;
    }

    &::before {
        bottom: 0%;
    }
}

.white__text {
    color: rgba($color-white, .8);
    margin-bottom: $margin-large;
}

.big--text {
    font-size: 2.8rem;
    font-weight: 400;
    color: $color-grey-dark;
    line-height: 180%;

    &:not(:last-child) {
        margin-bottom: $margin-large;
    }
}

.text--small {
    font-size: 2rem;
    color: $color-grey-dark;
    line-height: 120%;
    font-weight: 300;
}

.number {
    display: inline-block;
    position: relative;
    //overflow: hidden;
    font-size: 12.5rem;
    font-weight: 500;
    color: $color-darker;
    margin: 0rem $margin-large;
    z-index: 2;

    &::after {
        top: 50%;
        left: -50%;
        height: 2px;
        width: 100%;
        background-color: $color-orange;
        transform: translateY(-50%);
        z-index: -1;
    }
}

.name {
    color: $color-white;
    font-size: 4.8rem;
    font-weight: 500;
    margin-bottom: $margin-small;

    &--dark {
        color: $color-darker;
    }
}

.role {
    font-size: 2rem;
    color: $color-grey-dark;
    text-transform: capitalize;
    font-weight: 400;

    &--light {
        color: $color-text;
    }
}
.p, .e, .e--light, .o, .o--light, .l {
    position: relative;
    z-index: 2;
}

.p {
    &::after {
        content: 'P';
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17.5rem;
        font-weight: 700;
        color: $color-darker;
        line-height: 0;
        z-index: -1;
    }
}

.e {
    &::after {
        content: 'E';
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17.5rem;
        font-weight: 700;
        color: $color-darker;
        line-height: 0;
        z-index: -1;
    }

    &--light {
        &::after {
            content: 'E';
            position: absolute;
            top: 12.5%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 17.5rem;
            font-weight: 700;
            color: $color-white;
            line-height: 0;
            z-index: -1;
        }   
    }
}

.o {
    &::after {
        content: 'O';
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17.5rem;
        font-weight: 700;
        color: $color-darker;
        line-height: 0;
        z-index: -1;
    }

    &--light {
        &::after {
            content: ' 0';
            position: absolute;
            top: 12.5%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 17.5rem;
            font-weight: 700;
            color: $color-white;
            line-height: 0;
            z-index: -1;
        }   
    }
}

.l {
    &::after {
        content: 'L';
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17.5rem;
        font-weight: 700;
        color: $color-darker;
        line-height: 0;
        z-index: -1;
    }
}

.e {
    &::after {
        content: 'E';
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17.5rem;
        font-weight: 700;
        color: $color-darker;
        line-height: 0;
        z-index: -1;
    }
}