/*.large-img {
    height: 100%;
    width: 100%;
}*/

.crew,
.our-studio {
    padding: $padding-medium;
}

.inside-netinn {
    padding: $padding-medium;

    & .wrapper {
        flex-direction: column;
    }
}