.work {
    height: 100%;
    width: 100%;

    & .wrapper {
        height: 100%;
        @include center;
    }

    &--heading {
        font-size: 15rem;
        color: $color-darker;
        text-transform: uppercase;
        letter-spacing: 1rem;
        user-select: none;
    }
}

.portfolio {
    padding: $padding-medium;

    & .wrapper {
        flex-direction: column;
    }

    & .text__box {
        width: 100%;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7.5rem;
    }
}